{% extends 'snippet/layout.html' %}

{% block title %}
    关于 - IHASY
{% endblock %}

{% block main %}
    <div class="intro container-box sidebox">
        <div class="ui-header">
            <span class="title">关于</span>
        </div>
        <div class="ui-content">
            <p>
                IHASY 是一个高端交流社区。可以在这里发表时事新闻，故事，心情感想等，在交流中找到志趣相投的朋友。
            </p>
        </div>
    </div>
    <div class="sidebox container-box mt10 weixin">
        <div class="ui-header">
            <span class="title">微信公共帐号</span>
        </div>
        <div class="ui-content" align="center">
            <img src="/static/images/ihasy.png" alt="" />
        </div>
    </div>
{% endblock %}